.vscode/settings.json
Scripts/*
Lib/*
pyvenv.cfg
share/*
Notebooks/Aula02/src/__pycache__/*
Notebooks/Aula03/drafts/*
Notebooks/Aula03/exercicio_cnn/deteccao/transfer_learning_object_detection_yolo_nas_s/*
Notebooks/Aula03/exercicio_cnn/deteccao/transfer_learning_object_detection_pp_yoloe_small/*
Include/site/python3.11/greenlet/greenlet.h
Experiments/
mlruns/
Notebooks/mlruns/
Notebooks/Aula04/src/__pycache__/*
Notebooks/Aula04/exercicios/transfer_learning_object_detection_pp_yoloe_small/*
Notebooks/Aula04/drafts/
Notebooks/Aula04/exercicios/mlruns/
!Notebooks/Aula04/exercicios/mlruns/610510235533355160/
Notebooks/Aula01/__pycache__/preprocess.cpython-310.pyc
Notebooks/Aula01/heart*
