.vscode/settings.json
Scripts/*
Lib/*
pyvenv.cfg
share/*
Notebooks/Aula02/src/__pycache__/*
Notebooks/Aula03/drafts/*
Notebooks/Aula03/exercicio_cnn/deteccao/transfer_learning_object_detection_yolo_nas_s/*
Notebooks/Aula03/exercicio_cnn/deteccao/transfer_learning_object_detection_pp_yoloe_small/*
Notebooks/Aula04/mlruns/*
Notebooks/Aula04/confusion.png
Include/site/python3.11/greenlet/greenlet.h
mlruns/*